.header {
    height          : 120px;
    background-image: linear-gradient(0, #fe6333, #f53f2d);
}

.header__navbar {
    display        : flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style  : none;
    padding-left: 0;
    margin-top  : 9px;
}

.header__navbar-item {
    margin  : 0 8px;
    position: relative;
}

.header__navbar-item,
.header__navbar-item-link {
    display        : inline-block;
    font-size      : 1.3rem;
    font-weight    : 300;
    color          : var(--white-color);
    text-decoration: none;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display    : inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    color : rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content    : "";
    display    : block;
    position   : absolute;
    width      : 1px;
    height     : 16px;
    border-left: 1px solid #fb9086;
    right      : -11px;
    top        : 50%;
    transform  : translateY(-50%);
}

.header__navbar-icon-link {
    color          : var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    padding  : 0 4px;
}

.header__navbar-title-no-pointer {
    cursor: default;
    color : var(--white-color);
}

.header__navbar-item:hover .header__qr {
    display: block;
}

.header__qr {
    width           : 186px;
    background-color: var(--white-color);
    position        : absolute;
    left            : 0;
    top             : 150%;
    padding         : 8px;
    border-radius   : 2px;
    display         : none;
    animation       : fadeIn ease-in 0.25s;
    box-shadow      : 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__qr::before {
    content : "";
    display : block;
    width   : 100%;
    height  : 20px;
    position: absolute;
    left    : 0;
    top     : -16px;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display        : flex;
    justify-content: space-between;
    padding        : 0 11px;
}

.header__qr-download-img {
    height: 16px;
}

/* Header notification */
.header__notify {
    position: absolute;
    top: 150%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #999;
    font-size: 1.4rem;
    font-weight: 400;
    padding-left: 12px;
    line-height: 40px;
    margin: 0;
}

.header__notify-list {
    padding-left: 0;
    list-style: none;
}

.header__notify-item {
    padding: 12px;
    background-color: rgba(238, 77, 45, 0.06);
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: var(--white-color);
}

.header__notify-link {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    color: var(--black-color);
    font-size: 1.4rem;
    font-weight: 400;
}

.header__notify-description {
    font-size: 1.2rem;
    font-weight: 300;
    color: #b5acaa;
    margin-top: 5px;
}

.header__notify-footer {
    text-align: center;
    display: block;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 4px 16px;
}